<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="questmanager_webserviceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="questmanager_webserviceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="questmanager_webserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.questmanager.com/questmanager_webservice/qm_webservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="questmanager_webserviceSoap"
                contract="QuestManagerWebService.questmanager_webserviceSoap"
                name="questmanager_webserviceSoap" />
            <endpoint address="https://www.questmanager.com/questmanager_webservice/qm_webservice.asmx"
                binding="customBinding" bindingConfiguration="questmanager_webserviceSoap12"
                contract="QuestManagerWebService.questmanager_webserviceSoap"
                name="questmanager_webserviceSoap12" />
        </client>
    </system.serviceModel>
</configuration>